*{
    margin: 0;
    padding: 0;
    color: rgb(66, 88, 109);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    display: flex;
    flex-flow: column;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    border: 1px solid rgb(66, 88, 109);
    /* debugging */
    /* border: 1px dotted purple; */
}
.icon{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
        /* debugging */
        /* border: 1px dotted purple; */
}
.fa-flask{
    font-size: 16rem;
    margin-bottom: 2rem;
    color: lightblue;
}
.icondesc{
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    background-color: lightblue;
    border-radius: 0px 0px 15px 15px;
    border-top: 1px solid rgb(66, 88, 109);
        /* debugging */
        /* border: 1px dotted purple; */
}
q{
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem;
}