html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
header{
    height: 8%;
    width: 100%;
    background-color: dodgerblue;
}
nav{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#company-name{
    margin-right: auto;
    font-family: 'VT323', monospace;
    padding-left: 2rem;
    font-size: 2.5vw;
    color: whitesmoke;
}
button{
    margin: 2rem 2rem 1rem 2rem;
    height: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
button:hover{
    background-color: midnightblue;
    color: white;
    transition: all 200ms;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: lightblue;
}
.maincontent{
    height: 80%;
    width: 60%;
    background-color: midnightblue;
    margin-left: 2rem;
    border-radius: 10px;
}
div h1{
    color: whitesmoke;
    font-family: 'VT323', monospace;
    margin-left: 2rem;
}
article{
    color: whitesmoke;
    margin: 2rem;
    text-indent: 1rem;
}
aside{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column nowrap;
    height: 80%;
    width: 30%;
    background-color: midnightblue;
    margin-right: 2rem;
    color: whitesmoke;
    border-radius: 10px;
}
aside h2{
    font-size: 1rem;
    padding: 7px;
}
aside section{
    height: 20%;
    width: 60%;
    margin: 2rem 0;
    overflow: hidden;
    padding: 7px;
    background-color: dodgerblue;
    border-radius: 10px;
}
h2:hover{
    color: midnightblue;
    transition: all 200ms;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    height: 12%;
    width: 100%;
    background-color: dodgerblue;
}
.loading{
    height: 2rem;
    width: 2rem;
    fill: midnightblue;
    margin: 0 2rem;
    
}
.animate, #load-spinner{
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.symbol{
    display: none;
}
span{
    margin-right: auto;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
