body{
    background-image: url(../00-pictures/background-photo.jpg);
}
header nav{
    display: flex;
    justify-content: space-between;

}
#idx>div{
    height: 18vh;
}
h1{
    font-size: 2.3rem;
}
h3{
    margin-top: .2rem;
}
.logo, nav{
    height: 80%;
    width: 200px;
    margin: .5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
}
a:hover, .fa-house:hover, .fa-pencil:hover,.fa-gear:hover,.fa-briefcase:hover{
    color: rgb(18, 211, 147);
}
a:active, .fa-house:active, .fa-pencil:active,.fa-gear:active,.fa-briefcase:active{
    color: rgb(29, 157, 231);
}
header i{
    color: inherit;
}
#mobile-menu{
    display: none;
}
