html{
    font-family: 'Cantarell', serif;
    text-transform: uppercase;
    color: rgb(235, 230, 230);
}

#idx-atf{
    background-image: url(../00-pictures/background-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.idx-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2{
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: 5px;
}

h3{
    font-size: .8rem;
}

button{
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;
    color: #89F9E6;
    padding: 10px;
    margin: 2rem;
    border: 2px solid #89F9E6;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

button:hover{
    background-color: black;
}

button:active{
    color: deepskyblue;
    border: 2px solid deepskyblue;
}