*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(-45deg, #23d5ab, #e73c7e, #ee7752, #11493c);
    animation: gradient 15s ease infinite;
    /* turning off bg size lets you see the entire gradient, and animation moves within larger bg size */
    background-size: 400% 400%;
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}