.c1{
    background-color: #f58442;
}

.c2{
    background-color: #f5b642;
}

.c3{
    background-color: #f5d742;
}

.c4{
    background-color: #b9f542;
}

.c5{
    background-color: #60f542;
}

.c6{
    background-color: #42f584;
}

.c7{
    background-color: #42f5c5;
}